<template>
    <div class="window-auth borr-10">
        <div class="auth__entrance-heading">
            Добавление записей
        </div>
        <form @submit.prevent="sendData">
            <custom-select :label="'Тип оборудования'"
                           :options="['TP-Link TL-WR74', 'D-Link DIR-300', 'D-Link DIR-300 S']"
                           @input="setSelectedId"
            ></custom-select>
            <Input :label="'Серийный номер'" @setDataInput="setNumbers"></Input>
            <enter-review @setDataTextarea="setNote" :label="'Примечания'"></enter-review>
            <button class="entry-btn" type="submit">
                Добавить
            </button>
        </form>
    </div>
</template>

<script>
import CustomSelect from "./CustomSelect";
import Input from "./Input";
import EnterReview from "./EnterNote";

import axios from "axios";

export default {
    name: "AuthWindow",
    data() {
        return {
            numbers: '',
            selectedId: '1',
            note: '',
            enteredNumbers: '',
            review: '',
            errors: [],
        }
    },
    methods: {
        setNumbers(numbers) {
            this.numbers = numbers;
        },
        setNote(note) {
            this.note = note;
        },
        setSelectedId(id) {
            switch (id) {
                case 'TP-Link TL-WR74':
                    this.selectedId = 1
                    break
                case 'D-Link DIR-300':
                    this.selectedId = 2
                    break
                case 'D-Link DIR-300 S':
                    this.selectedId = 3
                    break
            }
        },
        sendData() {
            if (this.note !== '' && this.numbers !== '') {
                const data = {
                    id: null,
                    id_equipment_type: this.selectedId,
                    note: this.note,
                    serial_number: this.numbers
                };
                axios.post("http://127.0.0.1:8000/api/equipment", data)
                    .then(response => {
                        this.articleId = response.data.id
                    })
                    .catch(error => console.log(error));
            } else {
                console.log('Данные не прошли валидацию')
            }
        }
    },
    components: {
        EnterReview,
        CustomSelect,
        Input
    }
}
</script>

<style>
.window-auth {
    width: 35.417vw;
    height: 35vw;
    border: .1vw rgba(39, 39, 39, .1) solid;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.auth__entrance-heading {
    margin-bottom: 1.389vw;
    margin-top: 1.389vw;;
    font-weight: 500;
    font-size: 1.25vw;
}

.entry-btn {
    color: #fff;
    border-radius: .347vw;
    width: 12.222vw;
    height: 3.611vw;
    background-color: #1390E5;
    border: 0;
}

@media screen and (max-width: 768px) {
    .window-auth {
        width: 66.406vw;
        height: 67.708vw;
    }

    .auth__entrance-heading {
        margin-bottom: 2.604vw;
        font-size: 2.344vw;
    }

    .entry-btn {
        font-size: 2.604vw;
        border-radius: .651vw;
        width: 22.917vw;
        height: 6.771vw;
    }
}

@media screen and (max-width: 320px) {
    .window-auth {
        margin-top: 20vw;
        width: 95vw;
        height: 200vw;
        position: static;
        top: 0;
        left: 0;
        margin-right: 2.5%;
        transform: none;
    }


    .auth__entrance-heading {
        margin-top: 15vw;
        margin-bottom: 6.25vw;
        font-size: 5.625vw;
    }

    .entry-btn {
        border-radius: 1.563vw;
        font-size: 6.25vw;
        width: 55vw;
        height: 16.25vw;
    }
}
</style>

