<template>
    <div class="all-equipment">
        <div class="container">
            <div class="equipment-one" v-for="oneEquipment in items" :key="oneEquipment.id">
                <div>{{ oneEquipment.id_equipment_type }}</div>
                <div>{{ oneEquipment.serial_number }}</div>
                <div>{{ oneEquipment.note }}</div>
            </div>
            <div class="pagination-container">
                <paginate
                    v-model="page"
                    :page-count="pageCount"
                    :click-handler="pageChangeHandler"
                    :prev-text="'Назад'"
                    :next-text="'Вперед'"
                    :container-class="'pagination'">
                </paginate>
            </div>
        </div>
    </div>
</template>

<script>
import paginationMixin from '@/mixins/pagination.mixin';
import axios from "axios";
export default {
    mixins: [paginationMixin],
    data() {
        return {
            equipment: [],
            pageNumber: 0
        }
    },
    methods: {
        setId() {
            this.equipment.forEach(el => {
                switch (el.id_equipment_type) {
                    case 1:
                        el.id_equipment_type = 'TP-Link TL-WR74'
                        break
                    case 2:
                        el.id_equipment_type = 'D-Link DIR-300'
                        break
                    case 3:
                        el.id_equipment_type = 'D-Link DIR-300 S'
                        break
                }
            })
        },
    },
    beforeCreate() {
        axios.get(`http://127.0.0.1:8000/api/equipment/`, {})
            .then(response => {
                this.equipment = response.data;
                this.setupPagination(this.equipment)
                this.setId()
            })
            .catch(error => console.log(error));
    },
}
</script>

<style>
.equipment-one {
    width: 70vw;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border: .1vw solid black;
    margin-top: 1vw;
}

.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>