<template>
    <div class="container">
        <div class="equipment-one" v-for="type in items" :key="type.id">
            <div>
                {{ type.id }}
            </div>
            <div>
                {{ type.serial_number_mask }}
            </div>
            <div>
                {{ type.type_name }}
            </div>
        </div>
        <div class="pagination-container">
            <paginate
                v-model="page"
                :page-count="pageCount"
                :click-handler="pageChangeHandler"
                :prev-text="'Назад'"
                :next-text="'Вперед'"
                :container-class="'pagination'">
            </paginate>
        </div>
    </div>
</template>

<script>
import paginationMixin from '@/mixins/pagination.mixin';
import axios from "axios";

export default {
    mixins: [paginationMixin],
    data() {
        return {
            equipmentTypes: [],
        }
    },
    beforeCreate() {
        axios.get(`http://127.0.0.1:8000/api/equipment-type/`, {})
            .then(response => {
                this.equipmentTypes = response.data;
                this.setupPagination(this.equipmentTypes)
            })
            .catch(error => console.log(error));
    },
}
</script>

<style scoped>

</style>