<template>
    <header>
        <div class="container">
            <div class="header__left-side">
                <router-link to="/">
                    <button class="header__link">
                        Добавить запись
                    </button>
                </router-link>
                <router-link to="/edit-data">
                    <button class="header__link">
                        Найти запись
                    </button>
                </router-link>
                <router-link to="/get-all-equipment">
                    <button class="header__link">
                        Всё оборудование
                    </button>
                </router-link>
                <router-link to="/get-all-equipment-types">
                    <button class="header__link">
                        Все типы оборудования
                    </button>
                </router-link>
            </div>
        </div>
    </header>
</template>

<script>
export default {}
</script>

<style scoped>
header {
    background-color: #fff;
    border-bottom: .1vw solid #f1f1f1;
}

.container {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__link, .exit-btn {
    width: 4.167vw;
}

.header__link, .exit-btn, .header__favorites {
    background-color: #fff;
    border: none;
    color: rgba(39, 39, 39, 0.3);
    font-size: 1.25vw;
    height: 5.556vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

@media screen and (max-width: 768px) {

    .header__link, .exit-btn, .header__favorites {
        font-size: 2.344vw;
        height: 10.417vw;
    }
}

@media screen and (max-width: 320px) {

    .header__link, .exit-btn, .header__favorites {
        font-size: 4.375vw;
        height: 20.625vw;
    }


    .header__link, .exit-btn {
        width: 18.75vw;
    }

}
</style>