@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a{
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}


img {
    max-width: 100%;
    display: block;
}


article > * + * {
    margin-top: 1em;
}

button{
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
}

input::-moz-placeholder { color: #BEBEBE; }
input::-webkit-input-placeholder { color: #BEBEBE; }

input{
    outline: none;
    border: solid .1vw rgba(23, 23, 25, 0.2);
    border-radius: .694vw;
}

button{
    font-size: 1.389vw;
    background-color: #1390E5;
    border: none;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.clicked{
    background-color: rgba(197, 228, 249, 0.3);
    border: #1390E5 solid .1vw;
}

.borr-10{
    border-radius: 0.694vw;
}

@media screen and (max-width: 768px) {
    input{
        border-radius: 1.302vw;
    }

    button{
        font-size: 2.604vw;
    }

    .borr-10{
        border-radius: 1.302vw;
    }
}

@media screen and (max-width: 320px) {
    input{
        border-radius: 3.125vw;
    }

    button{
        font-size: 6.25vw;
    }

    .borr-10{
        border-radius: 3.125vw;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}