<template>
    <div class="edit-data">
        <div class="container">
            <div v-if="!validation">
                Нет такого типа оборудования
            </div>
            <div class="auth__entrance-heading">
                Поиск и редактирование записей
            </div>
            <div class="form-container w-38">
                <Input :label="'Поиск по серийному номеру/примечанию'" @setDataInput="setSearch"></Input>
                <button class="entry-btn" @click="searchData()">
                    Найти
                </button>
            </div>
                <div class="form-container">
                    <Input :label="'Код оборудования'" @setDataInput="setCode" :newData="code"></Input>
                    <Input :label="'Тип оборудования'" @setDataInput="setType" :newData="type"></Input>
                    <Input :label="'Серийный номер'" @setDataInput="setNumber" :newData="number"></Input>
                    <Input :label="'Примечание'" @setDataInput="setNote" :newData="note"></Input>
                </div>
                <button class="entry-btn" type="submit" v-if="isEdit" @click="isEdit = !isEdit">
                    Редактировать
                </button>
                <div class="form-container" v-if="!isEdit">
                    <button class="entry-btn" @click="saveChanges()">
                        Сохранить
                    </button>
                    <button class="entry-btn delete"  @click="deleteEquipment()">
                        Удалить
                    </button>
                </div>

        </div>
    </div>
</template>

<script>
import Input from "../adding data/Input";
import axios from "axios";

export default {
    data() {
        return {
            isEdit: true,
            search: '',
            equipmentId: 0,
            code: '',
            type: '',
            number: '',
            note: '',
            equipment: [],
            validation: true,
        }
    },
    beforeCreate() {
        axios.get(`http://127.0.0.1:8000/api/equipment/`, {})
            .then(response => {
                this.equipment = response.data;
                this.setId()
            })
            .catch(error => console.log(error));
    },
    methods: {
        setSearch(search) {
            this.search = search;
        },
        setCode(code) {
            this.code = code;
        },
        setType(type) {
            this.type = type;
        },
        setNumber(number) {
            this.number = number
        },
        setNote(note) {
            this.note = note
        },
        searchData() {
            let array = this.equipment;
            let search = this.search;
            if (!search) return array
            search = search.trim().toLowerCase();
            array = array.filter(item => {
                if (item.serial_number.toLowerCase().indexOf(search) !== -1 || item.note.toLowerCase().indexOf(search) !== -1) {
                    this.equipmentId = item.id
                    this.type = item.id_equipment_type;
                    this.number = item.serial_number;
                    this.note = item.note;
                    if (item.id_equipment_type === 'TP-Link TL-WR74') {
                        this.code = 1
                    } else if (item.id_equipment_type === 'D-Link DIR-300') {
                        this.code = 2
                    } else if (item.id_equipment_type === 'D-Link DIR-300 S') {
                        this.code = 3
                    }
                    return array
                }
            })
            // Error
            return Array
        },
        setId() {
            this.equipment.forEach(el => {
                switch (el.id_equipment_type) {
                    case 1:
                        el.id_equipment_type = 'TP-Link TL-WR74'
                        break
                    case 2:
                        el.id_equipment_type = 'D-Link DIR-300'
                        break
                    case 3:
                        el.id_equipment_type = 'D-Link DIR-300 S'
                        break
                }
            })
        },
        deleteEquipment(){
            axios.delete('http://127.0.0.1:8000/api/equipment/' + this.equipmentId)
                 .catch(error => console.log(error));

        },
        saveChanges(){
            if (this.validation){
                axios.put(`http://127.0.0.1:8000/api/equipment/` + this.equipmentId, {
                        id_equipment_type: this.code,
                        serial_number: this.number,
                        note: this.note
                })
                    .then(response => {
                        console.log(response)
                    })
                    .catch(error => console.log(error));
            }
        }
    },
    components: {
        Input
    }
}
</script>

<style scoped>

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.w-38 {
    width: 38vw;
}

.delete {
    background-color: #e85151;
}
</style>