<template>
    <div id="app">
        <Header></Header>
        <router-view/>
    </div>
</template>

<script>
import Header from "./components/common/Header";



export default {
    name: 'App',
    components: {
        // AuthWindow,
        Header
    },

}
</script>

<style>
@import "./assets/null.css";
</style>
